# SPDX-FileCopyrightText: 2025 Peter Tribble
# SPDX-License-Identifier: CDDL-1.0
[Desktop Entry]
Version=1.0
Name=Jangle
Comment=Graphical snmp browser
Exec=jangle browser
Icon=jangle
Terminal=false
Type=Application
Categories=System;Monitor;
